<ion-view view-title="BugSolution">
  <ion-content>

    <br/><br/>

    <div class="list list-inset" style="border:1px solid red;">
      <label class="item item-input">
        <i class="icon ion-bug" style="color:red; margin-right:5px;"></i>
        <input type="text" id="searchInput" style="color:red;">
      </label>
    </div>

    <button class="button button-full button-balanced">
      Search Solution
    </button>

      <div class="row">
        <div class="col"><img src="img/javascript.jpg" width="40" onClick="addTextTag('JAVASCRIPT');"/></div>
        <div class="col"><img src="img/swift.png" width="40" onClick="addTextTag('SWIFT');"/></div>
        <div class="col"><img src="img/objectivec.png" width="40" onClick="addTextTag('OBJECTIVE-C');"/></div>
        <div class="col"><img src="img/java.png" width="40" onClick="addTextTag('JAVA');"/></div>
        <div class="col"><img src="img/csharp.png" width="40" onClick="addTextTag('C SHARP');"/></div>
        <div class="col"><img src="img/cplusplus.png" width="40" onClick="addTextTag('C++');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/php.png" width="40" onClick="addTextTag('PHP');"/></div>
        <div class="col"><img src="img/coffeescript.png" width="40" onClick="addTextTag('COFFEESCRIPT');"/></div>
        <div class="col"><img src="img/typescript.png" width="40" onClick="addTextTag('TYPESCRIPT');"/></div>
        <div class="col"><img src="img/angularjs.png" width="40" onClick="addTextTag('ANGULAR-JS');"/></div>
        <div class="col"><img src="img/meteor.png" width="40" onClick="addTextTag('METEOR JS');"/></div>
        <div class="col"><img src="img/html5.png" width="40" onClick="addTextTag('HTML5');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/css3.png" width="40" onClick="addTextTag('CSS3');"/></div>
        <div class="col"><img src="img/sass.png" width="40" onClick="addTextTag('SASS');"/></div>
        <div class="col"><img src="img/less.jpg" width="40" onClick="addTextTag('LESS');"/></div>
        <div class="col"><img src="img/bootstrap.jpg" width="40" onClick="addTextTag('BOOTSTRAP');"/></div>
        <div class="col"><img src="img/xamarin.png" width="40" onClick="addTextTag('XAMARIN');"/></div>
        <div class="col"><img src="img/mysql.png" width="40" onClick="addTextTag('MY-SQL');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/jquery.jpg" width="40" onClick="addTextTag('JQUERY');"/></div>
        <div class="col"><img src="img/ionic.png" width="40" onClick="addTextTag('IONIC');"/></div>
        <div class="col"><img src="img/mongodb.png" width="40" onClick="addTextTag('MONGO-DB');"/></div>
        <div class="col"><img src="img/nodejs.png" width="40" onClick="addTextTag('NODE-JS');"/></div>
        <div class="col"><img src="img/python.png" width="40" onClick="addTextTag('PYTHON');"/></div>
        <div class="col"><img src="img/ruby.png" width="40" onClick="addTextTag('RUBY');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/rails.png" width="40" onClick="addTextTag('RAILS');"/></div>
        <div class="col"><img src="img/perl.png" width="40" onClick="addTextTag('PERL');"/></div>
        <div class="col"><img src="img/wordpress.png" width="40" onClick="addTextTag('WORDPRESS');"/></div>
        <div class="col"><img src="img/drupal.png" width="40" onClick="addTextTag('DRUPAL');"/></div>
        <div class="col"><img src="img/mean.jpg" width="40" onClick="addTextTag('MEAN.IO');"/></div>
        <div class="col"><img src="img/react.png" width="40" onClick="addTextTag('REACT');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/bower.png" width="40" onClick="addTextTag('BOWER');"/></div>
        <div class="col"><img src="img/npm.png" width="40" onClick="addTextTag('NPM');"/></div>
        <div class="col"><img src="img/nativescript.png" width="40" onClick="addTextTag('NATIVESCRIPT');"/></div>
        <div class="col"><img src="img/lua.gif" width="40" onClick="addTextTag('LUA');"/></div>
        <div class="col"><img src="img/bash.jpeg" width="40" onClick="addTextTag('BASH');"/></div>
        <div class="col"><img src="img/filezilla.png" width="40" onClick="addTextTag('FILEZILLA');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/cocoapods.png" width="40" onClick="addTextTag('COCOAPODS');"/></div>
        <div class="col"><img src="img/firebase.jpg" width="40" onClick="addTextTag('FIREBASE');"/></div>
        <div class="col"><img src="img/fabric.png" width="40" onClick="addTextTag('FABRIC');"/></div>
        <div class="col"><img src="img/parse.png" width="40" onClick="addTextTag('PARSE');"/></div>
        <div class="col"><img src="img/apache.png" width="40" onClick="addTextTag('APACHE');"/></div>
        <div class="col"><img src="img/xampp.jpg" width="40" onClick="addTextTag('XAMPP');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/mamp.png" width="40" onClick="addTextTag('MAMP');"/></div>
        <div class="col"><img src="img/magento.png" width="40" onClick="addTextTag('MAGENTO');"/></div>
        <div class="col"><img src="img/intelxdk.png" width="40" onClick="addTextTag('INTEL XDK');"/></div>
        <div class="col"><img src="img/atom.png" width="40" onClick="addTextTag('ATOM EDITOR');"/></div>
        <div class="col"><img src="img/coda.jpg" width="40" onClick="addTextTag('CODA EDITOR');"/></div>
        <div class="col"><img src="img/cocos2d.png" width="40" onClick="addTextTag('COCOS2D');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/cocos2dx.png" width="40" onClick="addTextTag('COCOS2DX');"/></div>
        <div class="col"><img src="img/cocos.png" width="40" onClick="addTextTag('COCOS');"/></div>
        <div class="col"><img src="img/cocoscreator.png" width="40" onClick="addTextTag('COCOS CREATOR');"/></div>
        <div class="col"><img src="img/unity3d.png" width="40" onClick="addTextTag('UNITY3D');"/></div>
        <div class="col"><img src="img/arduino.png" width="40" onClick="addTextTag('ARDUINO');"/></div>
        <div class="col"><img src="img/raspberry.png" width="40" onClick="addTextTag('RASPBERRY');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/sirikit.png" width="40" onClick="addTextTag('SIRIKIT');"/></div>
        <div class="col"><img src="img/cordova.png" width="40" onClick="addTextTag('CORDOVA');"/></div>
        <div class="col"><img src="img/ngcordova.png" width="40" onClick="addTextTag('NGCORDOVA');"/></div>
        <div class="col"><img src="img/phonegap.png" width="40" onClick="addTextTag('PHONEGAP');"/></div>
        <div class="col"><img src="img/android.png" width="40" onClick="addTextTag('ANDROID');"/></div>
        <div class="col"><img src="img/ios.png" width="40" onClick="addTextTag('IOS');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/ubuntu.png" width="40" onClick="addTextTag('UBUNTU');"/></div>
        <div class="col"><img src="img/windows.png" width="40" onClick="addTextTag('WINDOWS');"/></div>
        <div class="col"><img src="img/ajax.png" width="40" onClick="addTextTag('AJAX');"/></div>
        <div class="col"><img src="img/json.png" width="40" onClick="addTextTag('JSON');"/></div>
        <div class="col"><img src="img/grunt.png" width="40" onClick="addTextTag('GRUNT');"/></div>
        <div class="col"><img src="img/gulp.png" width="40" onClick="addTextTag('GULP');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/emberjs.jpg" width="40" onClick="addTextTag('EMBER');"/></div>
        <div class="col"><img src="img/blackbonejs.png" width="40" onClick="addTextTag('BLACKBONE');"/></div>
        <div class="col"><img src="img/bitbucket.png" width="40" onClick="addTextTag('BUCKET');"/></div>
        <div class="col"><img src="img/github.png" width="40" onClick="addTextTag('GITHUB');"/></div>
        <div class="col"><img src="img/git.png" width="40" onClick="addTextTag('GIT');"/></div>
        <div class="col"><img src="img/gitkraken.png" width="40" onClick="addTextTag('GIT KRAKEN');"/></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/sourcetree.png" width="40" onClick="addTextTag('SOURCE TREE');"/></div>
        <div class="col"><img src="img/visualstudio.png" width="40" onClick="addTextTag('VISUAL STUDIO');"/></div>
        <div class="col"><img src="img/xcode.png" width="40" onClick="addTextTag('XCODE');"/></div>
        <div class="col"><img src="img/androidstudio.png" width="40" onClick="addTextTag('ANDROID STUDIO');"/></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>

  </ion-content>
</ion-view>
